@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    background-image: url('../public/images/cinema_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}


.slick-prev,
.slick-next {
    font-size: 2rem;
}

.slick-prev:before,
.slick-next:before {
    padding: 1rem;
    font-size: 2rem !important;
}

.slick-prev:before {
    margin-left: -2rem;
}

.slick-next:before {
    margin-left: -0.5rem;
}