@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    background-image: url('../public/images/cinema_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}